@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Playfair Display", serif;
}

html,
body,
#root {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif; /* Header styling */
}

p {
    font-family: "Lora", serif; /* Paragraph styling */
}
